{% extends "main.html" %}
<!-- Remove side nav bar on large screens on desktop -->
{% block header %}
  {{ super() }}

  <!-- Additional styles for landing page -->
  <style>

    /* Hide table of contents */
    @media screen and (min-width: 60em) {
      .md-sidebar__inner,
      .md-sidebar--secondary {
        display: none;
      }
    }

    /* Hide navigation */
    @media screen and (min-width: 76.25em) {
      .md-sidebar--primary {
        display: none;
      }
    }
</style>
{% endblock %}