{{ define "main" }}
   
    <div class="container col-sm-12 col-md-10 col-lg-8">
       <h1 class="text-center pt-2"> {{.Title }} </h1>
       <hr>
        {{ .Content }}
        {{ range (.Data.Pages.ByDate).Reverse }}
              <div class="recent-post">
                {{ if eq .Type "TIL" }}
                  <h2 class="post-title">{{ .Title }}</h2>
                  {{ partial "post_metadata" (dict "content" . "is_list" 0) }}
                  <p>{{ .Content }}</p>
                {{ else }}
                <h2 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                {{ partial "post_metadata" (dict "content" . "is_list" 0) }}
                <p>{{ .Description }}</p>
                {{ end }}
              </div>
        {{ end }}
        </div>
        {{- partial "sidebar.html" . -}}
{{ end }}