/* Pagination */
.blog-pagination {
    margin-bottom: 4rem;
}

.blog-pagination>.btn {
    border-radius: 2rem;
}

/*
   * Blog posts
   */
.blog-post {
    margin-bottom: 4rem;
}

.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
}

/*
   * Footer
   */
.blog-footer {
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}

/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif
        /*rtl:Amiri, Georgia, "Times New Roman", serif*/
    ;
    font-size: 2.25rem;
}

.blog-header-logo:hover {
    text-decoration: none;
}


body {
    padding-top: 60px;
    background-color: #727272;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
}

.content {
    background-color: white;
    padding: 25px;
}

.display-4 {
    font-size: 2.5rem;
}

.flex-auto {
    flex: 0 0 auto;
}


h1 {
    font-size: 1.563em;
    margin-top: 0;
}

h1 a {
    text-decoration: none;
}

h2 {
    font-size: 1.25em;
}

h3 {
    font-size: 1em;
}

h4 {
    font-size: .75em;
}

h5 {
    font-size: .75em;
}

h6 {
    font-size: .75em;
}

.h-250 {
    height: 250px;
}

img {
    max-width: 100%;
    height: auto;
}

/* @media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }

    .h-md-250 {
        height: 250px;
    }

} */




.navbar,
.footer {
    background-color: #003b6f;
}

.navbar-brand,
.footer-brand,
.navbar-toggler,
.nav-link {
    color: white;
}

.navbar-brand:hover,
.nav-link:hover {
    color: skyblue;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;

}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;

}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

small,
.small {
    font-size: .75em;
}

p {
    margin-bottom: 1.3em;
}

.post-date {
    font-style: italic;
}

.social-links {
    text-decoration: none;
    color: darkblue;
}