<div id="main" role="main">
	{{ partial "sidebar.html" . }}
	<article class="page">
		<div class="page_container">
			<section class="page_content">
				{{ partial "masthead_nav.html" . }}
				{{ partial "section_intros.html" . }}
				<div class="recent-post-container">
					{{ range (.Data.Pages.ByDate) }}
					<div class="recent-post">
						<h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
						<p>{{ .Description }}</p>
						<p><a href="{{ .RelPermalink }}">View Page</a></p>
					</div>
					{{ end }}
				</div>
			</section>
		</div>
	</article>
</div>