<div id="main" role="main">
	{{ partial "sidebar.html" . }}
	<article class="page">
		<div class="page_container">
			<section class="page_content">
				{{ partial "masthead_nav.html" . }}
                {{ partial "section_intros.html" . }}
                
      
                <h2><a href="/reading">Reading</a></h2>
                <p>These are the voyages of the start trek enterprise</p>

                <h2><a href="/teaching">Teaching</a></h2>
                <p>These are the voyages of the start trek enterprise</p>
     
			</section>
		</div>
	</article>
</div>